@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  /* Font sistem modern yang sangat mirip dengan Inter/Geist */
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Tambahkan aksen warna untuk Trust Score nanti */
.text-emerald {
  color: #10b981;
}

.text-crimson {
  color: #dc2626;
}